*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

$color1:rgb(44, 36, 36);
$color2:rgb(233, 227, 227);
$color3:rgb(105, 105, 105);
$padding:4vh;
$gap:3.5vh;

html {
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(22, 22, 22);
}